@import '~material-design-icons/iconfont/material-icons.css';
.rate-button .material-icons.rate-button__star {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
