mixin radio-buttons(labelNames)
  .radio-buttons
    each name in labelNames
      label.radio-button
        input.radio-button__radio(type= 'radio', value= name, checked)&attributes(attributes)               
        span.radio-button__label-name= name
