.radio-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.radio-buttons .radio-button {
  position: relative;
  margin-bottom: 0.65rem;
  cursor: pointer;
}
.radio-buttons .radio-button .radio-button__label-name {
  display: block;
  margin: 0 1.25rem 0 1.89rem;
  font-size: 0.875rem;
  line-height: 1.3rem;
  text-transform: capitalize;
  color: #8f90A0;
}
.radio-buttons .radio-button .radio-button__label-name::before {
  content: '';
  position: absolute;
  display: block;
  top: 0.05rem;
  left: 0;
  height: 1.1rem;
  width: 1.12rem;
  border: 0.0714rem solid #c7c7cF;
  border-radius: 50%;
}
.radio-buttons .radio-button .radio-button__label-name::after {
  content: '';
  position: absolute;
  display: none;
  top: 0.29rem;
  left: 0.25rem;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}
.radio-buttons .radio-button__radio {
  display: none;
}
.radio-buttons .radio-button__radio:checked + .radio-button__label-name::before {
  border: 0.0714rem solid #bd9cff;
}
.radio-buttons .radio-button__radio:checked + .radio-button__label-name::after {
  display: block;
}
