mixin like-button(initialValue)
  label.like-button
    input.like-button__checkbox(type= 'checkbox')&attributes(attributes)               
    .like-button__value-wrapper  
      span.like-button__value= initialValue
