.search-room {
  display: flex;
  padding: 1.6rem 8.355rem 1.3rem 8.75rem;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
}
.search-room__bar {
  width: 16.625rem;
  margin-right: 3.75rem;
}
.search-room__filter-item {
  margin-bottom: 1.875rem;
}
.search-room__filter-item .filter-item__description {
  font-size: 0.75rem;
  color: #8f90A0;
}
.search-room__content-wrapper {
  width: 100%;
}
.search-room__content-wrapper .search-room__header {
  margin-top: 0.3rem;
  margin-bottom: 1.25rem;
}
.search-room__content-wrapper .search-room__content {
  margin-bottom: 1.25rem;
}
.search-room__content-wrapper .search-room__pagination {
  display: flex;
  justify-content: center;
}
