extends ../base/base.pug

block main
  .landing
    include ../../components/searching-rooms-card/searching-rooms-card.pug
    span.landing__slogan Лучшие номера для вашей работы, отдыха и просто вдохновения
