extends ../base/base-ui-kit.pug

block main
  .cards
    .cards__column
      .card
        include ../../components/searching-rooms-card/searching-rooms-card.pug
      .card
        include ../../components/registration-card/registration-card.pug
    .cards__column
      .card
        include ../../components/booking-card/booking-card.pug
      .card
        include ../../components/sign-in-card/sign-in-card.pug
