.dropdown-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.91rem;
  height: 2.7rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #8f90A0;
  border-radius: 4px 4px 0 0;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  cursor: pointer;
}
.dropdown-button_disabled {
  border: 1px solid #c7c7cF;
  border-radius: 4px 4px 4px 4px;
  box-shadow: none;
}
.dropdown-button__message {
  font-size: 0.875rem;
  line-height: 1.6rem;
  color: #575871;
}
.dropdown-button__arrow {
  position: relative;
  display: block;
  width: 1.1rem;
  height: 1.1rem;
  color: #8f90A0;
}
.dropdown-button__arrow::before {
  content: '';
  position: absolute;
  display: block;
  left: 59%;
  top: 52%;
  width: 36.95%;
  height: 36.95%;
  border-left: 2px solid #575871;
  border-bottom: 2px solid #575871;
  transform: translate(-50%, -75%) rotate(-45deg);
}
