@import '../../theme/variables.less';

.dropdown-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.91rem;
  height: 2.7rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid @color-50;
  border-radius: 4px 4px 0 0;
  box-shadow: @box-shadow-dropdowns;
  background-color: #fff;
  cursor: pointer;

  &_disabled {
    border: 1px solid @color-25;
    border-radius: 4px 4px 4px 4px;
    box-shadow: none;
  }

  &__message {
    font-size: 0.875rem;
    line-height: 1.6rem;
    color: @color-75;
  }

  &__arrow {
    position: relative;
    display: block;
    width: 1.1rem;
    height: 1.1rem;
    color: @color-50;

    &::before {
      content: '';
      position: absolute;
      display: block;
      left: 59%;
      top: 52%;
      width: 36.95%;
      height: 36.95%;
      border-left: 2px solid @color-75;
      border-bottom: 2px solid @color-75;
      transform: translate(-50%, -75%) rotate(-45deg);
    }
  }
}
