include ../../components/text-field/text-field.pug

mixin date-dropdowns(startDate, endDate)
  .date-dropdowns
    .date-dropdowns__item
      +text-field('text', 'ДД.ММ.ГГГГ', startDate, 'date-dropdowns__datepicker date-dropdowns__from')
      .date-dropdowns__arrow
    .date-dropdowns__item
      +text-field('text', 'ДД.ММ.ГГГГ', startDate, 'date-dropdowns__to')
      .date-dropdowns__arrow
