include ../../components/text-field/text-field.pug

mixin date-dropdowns()
  //- .date-dropdowns.datepicker-double
  .date-dropdowns
    .date-dropdowns__item
      +text-field('text', 'ДД.ММ.ГГГГ').datepicker-double.date-dropdowns__start(id='1', autocomplete='off')
      .date-dropdowns__arrow
    .date-dropdowns__item
      +text-field('text', 'ДД.ММ.ГГГГ').datepicker-double.date-dropdowns__end(id='1', autocomplete='off')
      .date-dropdowns__arrow
