.date-dropdowns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 20rem;
}
.date-dropdowns__start {
  max-width: 9.375rem;
}
.date-dropdowns__end {
  max-width: 9.375rem;
}
.date-dropdowns__item {
  position: relative;
}
.date-dropdowns__arrow {
  position: absolute;
  right: 1%;
  top: 52%;
  display: block;
  width: 1.1rem;
  height: 1.1rem;
  color: #8F90A0;
}
.date-dropdowns__arrow::after {
  content: '';
  display: block;
  width: 36.95%;
  height: 36.95%;
  border-left: 2px solid #575871;
  border-bottom: 2px solid #575871;
  transform: translate(-50%, -75%) rotate(-45deg);
}
