.header_logged-in__logo {
  margin-top: 0.3rem;
}
.header_logged-in__profile-name {
  padding-left: 1.28rem;
  border-left: 1px solid #c7c7cF;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #8f90A0;
}
@media (max-width: 991px) {
  .header_logged-in__profile-name {
    margin: 0.5rem 0;
    padding-right: 1rem;
    align-self: center;
    border-left: none;
    border-top: 1px solid #c7c7cF;
  }
}
