include ../../theme/svg-sprite.pug

.header_logged-in.header
  a.header_logged-in__logo(href = 'index.html')    
    +logo()
  include ../../components/hamburger-menu/hamburger-menu.pug
  .header_logged-in__container.header__container
    ul.header_logged-in__menu.header__menu
      li.menu-item
        a.menu-item__about-us(href= '/mock-address/change-me', target = 'blank')  О нас
      li.menu-item
        details.menu-item__services
          summary.services__button Услуги
          .services__list
            a.services__item(href= '/mock-address/change-me', target = 'blank') Lorem
            a.services__item(href= '/mock-address/change-me', target = 'blank') Lorem ipsum
            a.services__item(href= '/mock-address/change-me', target = 'blank') Lorem ipsum dolor sit amet consectetur adipisicing elit.
      li.menu-item
        a.menu-item__vacancies(href= '/mock-address/change-me', target = 'blank') Вакансии
      li.menu-item 
        a.menu-item__news(href= '/mock-address/change-me', target = 'blank') Новости
      li.menu-item
        details.menu-item__agreements
          summary.agreements__button Соглашения
          .agreements__list
            a.agreements__item(href= '/mock-address/change-me', target = 'blank') Lorem
            a.agreements__item(href= '/mock-address/change-me', target = 'blank') Lorem ipsum 
            a.agreements__item(href= '/mock-address/change-me', target = 'blank') Lorem ipsum dolor sit amet consectetur adipisicing elit.
    span.header_logged-in__profile-name Юлий Цезарь
