mixin layout()
  .layout
    block

mixin layout_short-page()
  .layout_short-page
    block

mixin layout_long-page()
  .layout_long-page
    block

mixin layout__header()
  header.layout__header
    block

mixin layout__main()
  main.layout__main
    block

mixin layout__footer()
  footer.layout__footer
    block
