.layout {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  max-width: 1440px;
  min-width: 320px;
  background-color: white;
}
.layout__header {
  display: flex;
}
.layout__main {
  display: flex;
  flex-direction: column;
}
.layout__footer {
  display: flex;
}
.ui-kit__layout {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  min-height: 900px;
  max-width: 1440px;
  min-width: 320px;
  background-color: white;
}
@media (max-width: 1199px) {
  .ui-kit__layout {
    position: inherit;
    top: 0;
    transform: initial;
    min-height: 100%;
    min-width: 100%;
  }
}
