mixin layout()
  .layout
    block

mixin ui-kit__layout()
  .ui-kit__layout
    block

mixin layout__header()
  header.layout__header
    block

mixin layout__main()
  main.layout__main
    block

mixin layout__footer()
  footer.layout__footer
    block
