extends ../base/base.pug

block title
  | Start page

block header

block main
  h1 Start page
  ul
    li
      a(rel='stylesheet', href='ui-kit__colors-n-type.html') UI-kit: Colors & Type
    li
      a(rel='stylesheet', href='#') UI-kit: Cards
    li
      a(rel='stylesheet', href='#') UI-kit: Headers & Footers
    li
      a(rel='stylesheet', href='#') UI-kit: Form Elements
  ul
    li
      a(rel='stylesheet', href='#') Landing page
    li
      a(rel='stylesheet', href='#') Search room
    li
      a(rel='stylesheet', href='#') Room details
    li
      a(rel='stylesheet', href='#') Registration

block footer

block scripts
