doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title= "Pug"
    link(rel="icon" href="favicon.png" type="image/png")
  body
    h1 Hello, world!
    a(rel="stylesheet", href="test.html") link
    .example

