doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title= "Pug"
    link(rel='icon', href='favicon.png', type='image/png')
  body
    h1 Hello, world!
    a(rel='stylesheet', href='test.html') link
    .example

    .fff(id='dd')
    .col
    p This is plain old <em>text</em> content.
p
  | The pipe always goes at the beginning of its own line,
  | not counting indentation.
