include ../../components/text-field/text-field.pug

mixin subscription-text-field(labelName)
  .subscription-text-field
    +text-field('email', 'Email', labelName)
    button.subscription-text-field__button
      i.material-icons.arrow-forward_gradient arrow_forward
