@import '../../theme/variables.less';
@import '~material-design-icons/iconfont/material-icons.css';

.subscription-text-field {
  position: relative;
  width: 16.65rem;

  &__button {
    position: absolute;
    top: 23%;
    right: 0.61rem;

    .material-icons.arrow-forward_gradient {
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      -webkit-background-clip: text;
              background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
