include ../../components/text-field/text-field.pug
include ../../components/text-field/text-field.pug

.subscription-text-field
  +text-field('email', 'Email')
  button.subscription-text-field__button
    i.fa.fa-arrow-right.subscription-text-field__arrow
    //- i.material-icons.arrow-forward_gradient arrow_forward
