@import '../../theme/variables.less';
// @import '~material-design-icons/iconfont/material-icons.css';
// @import '~@fortawesome/fontawesome-free/css/all.min.css';

.subscription-text-field {
  width: 16.625rem;
}

.svg-inline--fa.fa-arrow-right.fa-w-14.subscription-text-field__arrow {
  width: 3rem;
  height: 3rem;
  color: @color-purple-gradient;
  background-color: @color-purple-gradient;
}

