@import "~normalize.css";
@import './variables.less';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: @color-background;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', Arial, sans-serif;

  @media (max-width: @xxs) {
    overflow: scroll;
    overflow-x: hidden;

    ::-webkit-scrollbar {
      width: 0;

      /* remove scrollbar space */
      background: transparent;

      /* optional: just make scrollbar invisible */
    }
  }
}

li {
  list-style-type: none;
}

button {
  border: none;
  outline: none;
  background-color: @color-white;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.875rem;
  color: @color-100;
}

h2 {
  font-size: 1.1875rem;
  font-weight: 700;
  line-height: 1.687rem;
  color: @color-100;
}

h3 {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.687rem;
  color: @color-100;
  text-transform: uppercase;
}

p {
  font-size: 0.875rem;
  font-weight: 400;
  color: @color-75;
  line-height: 1.687rem;
}
