@import "~normalize.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  background-color: #f4f4f6;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', Arial, sans-serif;
}
@media (max-width: 410px) {
  html,
  body {
    overflow: scroll;
    overflow-x: hidden;
  }
  html ::-webkit-scrollbar,
  body ::-webkit-scrollbar {
    width: 0;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
  }
}
a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}
a:active {
  outline: none;
}
li {
  list-style-type: none;
}
button {
  border: none;
  outline: none;
  background-color: unset;
  cursor: pointer;
}
button:focus {
  outline: none;
}
h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.875rem;
  color: #1f2041;
}
h2 {
  font-size: 1.1875rem;
  font-weight: 700;
  line-height: 1.687rem;
  color: #1f2041;
}
h3 {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.687rem;
  color: #1f2041;
  text-transform: uppercase;
}
p {
  font-size: 0.875rem;
  font-weight: 400;
  color: #575871;
  line-height: 1.687rem;
}
summary {
  position: relative;
  display: block;
  width: 100%;
  list-style: none;
  outline: none;
  cursor: pointer;
}
summary::-webkit-details-marker {
  display: none;
  outline: none;
}
summary::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 0.45rem;
  height: 0.45em;
  border-left: 2px solid #8f90A0;
  border-bottom: 2px solid #8f90A0;
  transform: translate(-50%, -75%) rotate(-45deg);
  transition: 0.05s;
}
