@import "~normalize.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  background-color: #f4f4f6;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', Arial, sans-serif;
}
@media (max-width: 320px) {
  html,
  body {
    overflow: scroll;
    overflow-x: hidden;
  }
  html ::-webkit-scrollbar,
  body ::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
  }
}
li {
  list-style-type: none;
}
button {
  border: none;
  outline: none;
  background-color: #fff;
}
h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.875rem;
  color: #1F2041;
}
h2 {
  font-size: 1.1875rem;
  font-weight: 700;
  line-height: 1.687rem;
  color: #1F2041;
}
h3 {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.687rem;
  color: #1F2041;
  text-transform: uppercase;
}
p {
  font-size: 0.875rem;
  font-weight: 400;
  color: #575871;
  line-height: 1.687rem;
}
