@xxs: 320px;
@xs: 575px;
@sm: 767px;
@md: 991px;
@lg: 1199px;
// $xl: 1440px;

@color-100: #1f2041;
@color-75: #575871;
@color-50: #8f90A0;
@color-25: #c7c7cF;
@color-10: #e8e8ec;
@color-5: #f3f4f5;
@color-purple: #bd9cff;
@color-green: #70cf97;
@color-white: #fff;
@color-background: #f4f4f6;
@color-purple-gradient: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
@color-green-gradient: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);

@box-shadow-foto: 0px 10px 20px rgba(31, 32, 65, 0.1);
@box-shadow-dropdowns: 0px 10px 20px rgba(31, 32, 65, 0.05);
@box-shadow-card: 0px 0px 25px rgba(0, 0, 0, 0.2);
@box-shadow-header: 0px 10px 20px rgba(31, 32, 65, 0.05);
@box-shadow-footer: 0px 10px 20px rgba(31, 32, 65, 0.05);

@border-radius-form: 4px;
@border-radius-button: 22px;
@border-radius-toggle: 10px;
@border-radius-like: 10px;
@border-radius-card: 4px;

@font-material-icons: Material Icons;
