
@xxs:320px;
@xs: 575px;
@sm: 767px;
@md: 991px;
@lg: 1199px;
// $xl: 1440px;

@color-100: #1F2041;
@color-75: #575871;
@color-50: #8F90A0;
@color-25: #C7C7CF;
@color-10: #e8e8ec;
@color-5: #F3F4F5;
@color-purple: #BD9CFF;
@color-green: #70CF97;
@color-white: #fff;
@color-background: #f4f4f6;
@color-purple-gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
@color-green-gradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

@box-shadow-foto: 0px 10px 20px rgba(31, 32, 65, 0.1);
@box-shadow-dropdowns: 0px 10px 20px rgba(31, 32, 65, 0.05);;
@box-shadow-cards: 0px 0px 25px rgba(0, 0, 0, 0.2);

@border-radius-form: 4px;
@border-radius-button: 22px;
@border-radius-toggle: 10px;
@border-radius-like: 10px;