@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/montserrat-v15-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''), url('fonts/montserrat-v15-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */ url('fonts/montserrat-v15-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/montserrat-v15-latin_cyrillic-regular.svg#Montserrat') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'Montserrat-700';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/montserrat-v15-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''), url('fonts/montserrat-v15-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/montserrat-v15-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/montserrat-v15-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */ url('fonts/montserrat-v15-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/montserrat-v15-latin_cyrillic-700.svg#Montserrat') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/quicksand-v21-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''), url('fonts/quicksand-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/quicksand-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/quicksand-v21-latin-regular.woff') format('woff'), /* Modern Browsers */ url('fonts/quicksand-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/quicksand-v21-latin-regular.svg#Quicksand') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'Quicksand-700';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/quicksand-v21-latin-700.eot');
  /* IE9 Compat Modes */
  src: local(''), url('fonts/quicksand-v21-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/quicksand-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/quicksand-v21-latin-700.woff') format('woff'), /* Modern Browsers */ url('fonts/quicksand-v21-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/quicksand-v21-latin-700.svg#Quicksand') format('svg');
  /* Legacy iOS */
}
