.colors-n-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2.35rem 9.375rem 0 9.375rem;
}
.colors-n-type .colors-list {
  margin-bottom: 2rem;
}
.colors-n-type .color {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.24rem;
}
.colors-n-type .color__description {
  display: flex;
  flex-direction: column;
}
.colors-n-type .color__sample {
  margin-right: 2.45rem;
  min-height: 70px;
  min-width: 70px;
  border-radius: 6px;
}
@media (max-width: 575px) {
  .colors-n-type .color__sample {
    margin-right: 1rem;
  }
}
.colors-n-type .color__name {
  margin-top: 0.2rem;
  font-weight: 700;
  font-size: 1.1875rem;
  line-height: 1.6rem;
  color: #1f2041;
}
.colors-n-type .color__code {
  margin-top: 0.1rem;
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  color: #1f2041;
}
.colors-n-type .types-list {
  display: flex;
  flex-direction: column;
}
.colors-n-type .type {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-right: 0.44rem;
}
.colors-n-type .type__tag {
  margin-right: 1.875rem;
  color: #c7c7cF;
}
.colors-n-type .type__description {
  margin-top: 0.2rem;
  width: 23.125rem;
}
@media (max-width: 575px) {
  .colors-n-type .type__description {
    width: 100%;
  }
}
.colors-n-type .type__description-text {
  color: #1f2041;
}
.colors-n-type .type_h1 .type__description-text {
  margin-bottom: 3.1875rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.675rem;
}
.colors-n-type .type_h1 .type__tag {
  margin-top: 0.1rem;
  font-size: 1.5rem;
}
.colors-n-type .type_h2 .type__description-text {
  margin-bottom: 2.4875rem;
  font-size: 1.1875rem;
  font-weight: 700;
}
.colors-n-type .type_h2 .type__tag {
  margin-top: 0.2rem;
  font-size: 1.1875rem;
}
.colors-n-type .type_h3 .type__description-text {
  margin-bottom: 2.1875rem;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
}
.colors-n-type .type_h3 .type__tag {
  margin-top: 0.2rem;
  font-size: 0.75rem;
}
@media (max-width: 575px) {
  .colors-n-type .type {
    justify-content: flex-start;
  }
}
.colors-n-type .type_body .type__description-text {
  margin-bottom: 1.1875rem;
  color: #575871;
}
.colors-n-type .type_body .type__tag {
  margin-top: 0.2rem;
}
@media (max-width: 1199px) {
  .colors-n-type {
    padding: 2.35rem 5rem 0 5rem;
  }
}
@media (max-width: 991px) {
  .colors-n-type {
    padding: 1rem 1.9rem 0 1.9rem;
  }
}
@media (max-width: 575px) {
  .colors-n-type {
    padding: 1rem 0.5rem 0 0.5rem;
  }
}
