extends ../base/base-ui-kit_short-page.pug

block variables
  - const colors = [{'color name': 'Dark Shade 100%', 'color code': '#1f2041'},{'color name': 'Dark Shade 75%', 'color code': '#575871'},{'color name': 'Dark Shade 50%', 'color code': '#8f90a0'},{'color name': 'Dark Shade 25%', 'color code': '#c7c7cf'},{'color name': 'Dark Shade 5%', 'color code': '#f3f4f5'},{'color name': 'Purple', 'color code': '#bd9cff'},{'color name': 'Green', 'color code': '#70cf97'}]

block main
  .colors-n-type
    ul.colors-list
      each color in colors
        li.color
          .color__sample(style=`background-color: ${color['color code']}`)
          .color__description
            p.color__name= color['color name']
            p.color__code= color['color code']
    ul.types-list
      li.type.type_h1
        p.type__tag H1
        .type__description        
          p.type__description-text This one is&nbsp;the sub-section or widget title
      li.type.type_h2
        p.type__tag H2
        .type__description        
          p.type__description-text Next one is&nbsp;the item title inside widgets
      li.type.type_h3
        p.type__tag H3
        .type__description        
          p.type__description-text This is&nbsp;a&nbsp;label or&nbsp;CTA text
      li.type.type_body
        p.type__tag Body
        .type__description        
          p.type__description-text This is&nbsp;the body text which is&nbsp;used for most <br/> of&nbsp;the design, like paragraphs, lists, etc.
