include ../../components/dropdown-button/dropdown-button.pug
include ../../components/dropdown-counter/dropdown-counter.pug

.dropdown-guests
  input.dropdown-guests__value(type='hidden', value='1', name='number-of-guests')
  +dropdown-button('Сколько гостей')
  .dropdown-guests__menu
    ul.dropdown-guests__menu-list
      li.dropdown-guests__menu-item
        span.dropdown-guests__menu-item-name взрослые
        +dropdown-counter(1)
      li.dropdown-guests__menu-item
        span.dropdown-guests__menu-item-name дети
        +dropdown-counter(0)
      li.dropdown-guests__menu-item
        span.dropdown-guests__menu-item-name младенцы
        +dropdown-counter(0)
    .dropdown-guests__footer
      button.dropdown-guests__reset очистить
      button.dropdown-guests__submit применить
