.dropdown-guests {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #8F90A0;
  border-radius: 4px 4px 0px 0px;
  width: 20rem;
}
.dropdown-guests__menu {
  position: absolute;
  z-index: 100;
  top: 100%;
  left: -0.069rem;
  width: 20rem;
  padding-top: 0.25rem;
  border: 1px solid #8F90A0;
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}
.dropdown-guests__menu-item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 2.4rem;
  padding: 0rem 0.35rem 0.3rem 0.9rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
}
.dropdown-guests__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.72rem 0.36rem 0.8rem 0.85rem;
}
.dropdown-guests__reset {
  visibility: visible;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  color: #BD9CFF;
}
.dropdown-guests__reset_disable {
  visibility: hidden;
}
.dropdown-guests__submit {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  color: #BD9CFF;
}
.dropdown_disabled {
  border: 1px solid #C7C7CF;
  border-radius: 4px;
}
.dropdown__menu_disabled {
  display: none;
}
