.dropdown-guests {
  position: relative;
  width: 100%;
}
.dropdown-guests__label {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1.5rem;
  font-weight: bold;
  color: #1f2041;
}
.dropdown-guests__menu {
  position: absolute;
  z-index: 100;
  top: 2.45rem;
  left: 0;
  width: 100%;
  border: 1px solid #8f90A0;
  border-top-color: #c7c7cF;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.dropdown-guests__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 7.56rem;
}
.dropdown-guests__menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 1.4rem;
  padding: 0.1rem 0.4rem 0.55rem 0.9rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
}
.dropdown-guests__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0.4rem 0 0.85rem;
}
.dropdown-guests__reset {
  visibility: visible;
}
.dropdown-guests__reset_disable {
  visibility: hidden;
}
.dropdown-guests .dropdown__menu_disabled {
  display: none;
}
