block variables

include ../../components/layout/layout.pug

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    link(rel='icon', href='favicon.png', type='image/png')
    title
      block title
  body
    +layout()
      +layout__header()
        block header
          include ../../components/header/header.pug
      +layout__main()
        block main
      +layout__footer()
        block footer
          include ../../components/footer/footer.pug
    block scripts
