@import '../../theme/variables.less';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 8.75rem;
  width: 100%;
  height: 4.375rem;
  background-color: @color-white;
  box-shadow: @box-shadow-header;

  &__logo {
    margin-top: 0.3rem;
  }

  &__container {
    display: flex;
    flex-direction: row;
    background-color: @color-white;

    .header__menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 0.69rem;

      .menu-item {
        margin-right: 1.23rem;
        font-size: 0.875rem;
        color: @color-50;

        &__about-us {
          font-weight: 700;
          color: @color-100;
        }

        &__services {
          position: relative;

          .services__button {
            padding-right: 1.6rem;

            &::after {
              left: 3.95rem;
              top: 0.55rem;
            }

            @media (max-width: @md) {
              text-align: center;
              width: 4.813rem;
              margin: 0 auto;
            }
          }

          .services__list {
            z-index: 100;
            position: absolute;
            top: 2.9rem;
            left: 0;
            display: flex;
            flex-direction: column;
            padding: 0.75rem 0.75rem;
            width: 15rem;
            background-color: @color-white;
            box-shadow: @box-shadow-dropdowns;

            @media (max-width: @md) {
              position: unset;
              box-shadow: none;
            }
          }

          .services__item {
            margin: 0.35rem 0;

            @media (max-width: @md) {
              text-align: center;
            }
          }
        }

        &__vacancies {
          margin-right: 0.1rem;
        }

        &__agreements {
          position: relative;

          .agreements__button {
            padding-right: 0.85rem;

            &::after {
              left: 7.1rem;
              top: 0.55rem;
            }

            @media (max-width: @md) {
              text-align: center;
              width: 7.813rem;
              margin: 0 auto;
            }
          }

          .agreements__list {
            z-index: 100;
            position: absolute;
            top: 2.9rem;
            left: 0;
            display: flex;
            flex-direction: column;
            padding: 0.75rem 0.75rem;
            width: 15rem;
            background-color: @color-white;
            box-shadow: @box-shadow-dropdowns;

            @media (max-width: @md) {
              position: unset;
              box-shadow: none;
            }
          }

          .agreements__item {
            margin: 0.35rem 0;

            @media (max-width: @md) {
              text-align: center;
            }
          }
        }

        @media (max-width: @md) {
          margin: 0.5rem 0;
        }
      }

      @media (max-width: @md) {
        flex-direction: column;
      }
    }

    @media (max-width: @md) {
      z-index: 100;
      display: none;
      flex-direction: column;
      position: absolute;
      top: 4.5rem;
      left: 0;
      width: 100%;
      box-shadow: @box-shadow-header;
    }
  }

  &__button-log-in {
    margin: 0.08rem 1.25rem 0 0;
    min-width: 5.45rem;
    height: 2.1rem;

    .button_bordered__message {
      letter-spacing: 0.6px;
    }

    @media (max-width: @md) {
      width: 6.188rem;
      margin: 0.5rem 0;
      align-self: center;
    }
  }

  &__button-registration {
    margin-top: 0.08rem;
    width: 12.25rem;
    height: 2.1rem;

    .button_filled__message {
      letter-spacing: 0.6px;
    }

    @media (max-width: @md) {
      margin: 0.5rem 0;
      align-self: center;
    }
  }

  @media (max-width: @lg) {
    padding: 0 1rem;
  }

  @media (max-width: @md) {
    position: relative;
  }
}
