mixin room-header(roomNumber, roomCategory, roomPrice)
  .room-header
    .room-header__room-info
      span.room-header__number №
      span.room-header__room-number= roomNumber
      span.room-header__room-category= roomCategory
    .room-header__room-info
      span.room-header__room-price= roomPrice
      span.room-header__per-day в сутки
