extends ../base/base-ui-kit.pug

block main
  .headers-n-footers
    .headers-n-footers__item
      include ../../components/header/header.pug
    .headers-n-footers__item
      include ../../components/header_logged-in/header_logged-in.pug
