include ../../components/text-field/text-field.pug

mixin filter-date-dropdown(labelName)
  //- .date-dropdowns.datepicker-double
  .filter-date-dropdown
    +text-field('text', 'Выберите даты', labelName, 'filter-date-dropdown__range js-datepicker')
    .filter-date-dropdown__arrow
