include ../../components/text-field/text-field.pug

mixin filter-date-dropdown(labelName)
  .filter-date-dropdown  
    label.text-field= labelName
      input.text-field__input.filter-date-dropdown__range.js-datepicker(readonly='readonly', type='text', placeholder='Выберите даты')
    .filter-date-dropdown__arrow
