include ../../components/text-field/text-field.pug

mixin filter-date-dropdown(labelName)
  .filter-date-dropdown
    +text-field('text', 'Выберите даты', labelName, 'filter-date-dropdown__range js-datepicker')
    .filter-date-dropdown__arrow
    //- .filter-date-dropdown__datepicker
