block header_ui-kit
  .header_ui-kit
    a.header_ui-kit__link(href = '/index.html')             
      svg.header_ui-kit__logo
        use(xlink:href='src/components/header_ui-kit/logo_grey.svg#logo_grey')
