include ../../theme/svg-sprite.pug
.social-icons  
  a.social-icons__twitter(href='/mock-address/change-me/twitter', target='blank', rel='noopener noreferrer')
    +twitter()
  a.social-icons__facebook(href='/mock-address/change-me/facebook', target='blank', rel='noopener noreferrer')
    +facebook()
  a.social-icons__instagram(href='/mock-address/change-me/instagram', target='blank', rel='noopener noreferrer')
    +instagram()
