.toggle {
  height: 2.6rem;
}
.toggle__label {
  position: relative;
}
.toggle__checkbox {
  display: none;
}
.toggle__checkbox:checked + .toggle__toggle:after {
  background-image: linear-gradient(#fff, #fff), linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.toggle__checkbox:checked + .toggle__toggle:before {
  transform: translateX(1.21rem);
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.toggle__toggle:before {
  content: "";
  position: absolute;
  z-index: 100;
  left: 0.25rem;
  top: 0.28rem;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  background: #C7C7CF;
  transition: 0.2s;
}
.toggle__toggle:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2.34rem;
  height: 1.08rem;
  border: solid 0.1rem transparent;
  border-radius: 10px;
  background-image: linear-gradient(#fff, #fff), linear-gradient(#C7C7CF, #C7C7CF);
  background-clip: padding-box, border-box;
}
.toggle__label-name {
  display: inline-block;
  margin-top: 0.25rem;
  margin-left: 3.15rem;
  font-size: 0.845rem;
  letter-spacing: 0.017rem;
  color: #575871;
}
