mixin toggle(labelName)
  .toggle
    label.toggle__label
      input.toggle__checkbox(type='checkbox', value= labelName)&attributes(attributes)               
      span.toggle__toggle.toggle__label-name= labelName
