mixin text-field(typeName, placeholderName, labelName, classes)
  label.text-field= labelName
    input(type=typeName, placeholder=placeholderName, class=`text-field__input ${classes}`)&attributes(attributes)
