@import '../../theme/variables.less';

.text-field {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1.45rem;
  color: @color-100;

  &__input {
    padding: 0.55rem 0.88rem 0.6rem;
    width: 100%;
    height: 2.75rem;
    border-radius: @border-radius-form;
    border: 1px solid @color-25;
    font-size: 0.85rem;
    letter-spacing: 0.01rem;
    color: @color-75;

    &::-webkit-input-placeholder {
      color: @color-25;
    }

    &::-moz-placeholder {
      color: @color-25;
    }

    &::-ms-input-placeholder {
      color: @color-25;
    }

    &:-ms-input-placeholder {
      color: @color-25;
    }

    &::placeholder {
      color: @color-25;
    }

    &:hover {
      border: 1px solid @color-50;
    }

    &:focus {
      border: 1px solid @color-50;
      outline: none;
    }
  }
}
