.text-field-form {
  padding: 0.813rem 0.938rem;
  width: 20rem;
  height: 2.75rem;
  border-radius: 4px;
  border: 1px solid #C7C7CF;
  font-size: 0.875rem;
  color: #575871;
}
.text-field-form::placeholder {
  color: #C7C7CF;
}
.text-field-form:hover {
  border: 1px solid #8F90A0;
}
.text-field-form:focus {
  border: 1px solid #8F90A0;
  outline: none;
}
