.text-field {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  color: #1F2041;
}
.text-field__input {
  padding: 0.5rem 0.88rem 0.6rem;
  width: 100%;
  height: 2.75rem;
  border-radius: 4px;
  border: 1px solid #C7C7CF;
  font-size: 0.85rem;
  letter-spacing: 0.031rem;
  color: #575871;
}
.text-field__input::placeholder {
  color: #C7C7CF;
}
.text-field__input:hover {
  border: 1px solid #8F90A0;
}
.text-field__input:focus {
  border: 1px solid #8F90A0;
  outline: none;
}
