extends ../base/base-ui-kit_long-page.pug
include ../../components/text-field/text-field.pug
include ../../components/dropdown-guests/dropdown-guests.pug
include ../../components/date-dropdowns/date-dropdowns.pug
include ../../components/filter-date-dropdown/filter-date-dropdown.pug
include ../../components/toggle/toggle.pug
include ../../components/dropdown-facilities/dropdown-facilities.pug
include ../../components/subscription-text-field/subscription-text-field.pug
include ../../components/checkbox-buttons/checkbox-buttons.pug
include ../../components/radio-buttons/radio-buttons.pug
include ../../components/like-button/like-button.pug
include ../../components/rate-button/rate-button.pug
include ../../components/button_filled/button_filled.pug
include ../../components/button_bordered/button_bordered.pug
include ../../components/button_text-only/button_text-only.pug
include ../../components/button_with-arrow/button_with-arrow.pug
include ../../components/expandable-checkbox-list/expandable-checkbox-list.pug
include ../../components/rich-checkbox-buttons/rich-checkbox-buttons.pug
include ../../components/bullet-list/bullet-list.pug
include ../../components/additional-room-info/additional-room-info.pug
include ../../components/reviews/reviews.pug
include ../../components/range-slider/range-slider.pug
include ../../components/pagination/pagination.pug

block main
  .form-elements
    .form-elements__row
      .form-elements__column
        .form-element
          span.form-element__state default
          +text-field('email', 'Email', 'text field')
        .form-element
          span.form-element__state hover / focus
          .form-text-field_active
            +text-field('email', 'Email', 'text field')(value='This is pretty awesome')
        .form-element.form-element_margin-bottom-120
          +dropdown-guests('dropdown')
        .form-element.form-element_margin-bottom-230
          +text-field('text', 'ДД.ММ.ГГГГ', 'masked text field', 'masked-text-field')
        .form-element.form-element_margin-bottom-230
          +date-dropdowns('date dropdown', 'date dropdown')
        .form-element.form-element_margin-bottom-245
          +filter-date-dropdown('filter date dropdown')
        .form-element.form-element_margin-bottom
          +subscription-text-field('subscription text field')
      .form-elements__column.form-elements__column_padding-left
        .form-element.form-element_margin-bottom-150
          - const checkboxButtonsSettings = {'Можно курить': false, 'Можно с питомцами': true, 'Можно пригласить гостей (до 10 человек)': true}
          +checkbox-buttons('Checkbox Buttons', checkboxButtonsSettings)
        .form-element.form-element_margin-bottom-150
          h3.form-element__name radio buttons
          - const labelNames = ['мужчина', 'женщина']
          +radio-buttons(labelNames)(name='sex')
        .form-element.form-element_margin-bottom-160
          h3.form-element__name toggle
          .form-element__container_column
            +toggle('Получать спецпредложения')(checked)
            +toggle('Получать спецпредложения')
        .form-element.form-element_margin-bottom-230
          h3.form-element__name like button
          .form-element__container_row
            +like-button(2)
            +like-button(12)(checked)
        .form-element.form-element_margin-bottom
          h3.form-element__name rate button
          .form-element__container_row
            +rate-button(4, 1)
            +rate-button(1, 4)
      .form-elements__column
        .form-element.form-element_margin-bottom-120
          +range-slider('range slider')
        .form-element.form-element_margin-bottom-195
          h3.form-element__name buttons
          .form-element__container_row
            +button_filled('click me')
            .button_hovered
              +button_filled('click me')
        .form-element.form-element_margin-bottom-130
          .form-element__container_row
            +button_bordered('click me')
            .button_hovered
              +button_bordered('click me')    
        .form-element.form-element_margin-bottom-120
          .form-element__container_row
            +button_text-only('click me')
            .button-text-only_hovered
              +button_text-only('click me')  
        .form-element.form-element_margin-bottom-230
          +button_with-arrow('перейти к оплате')
        .form-element.form-element_margin-bottom
          h3.form-element__name pagination
          +pagination()                        
    .form-elements__row.form-elements__row_margin-bottom-160
      .form-elements__column.form-elements__column_no-margin
        .form-element.form-element_width-16
          span.form-element__state default
          +dropdown-facilities('dropdown')
        .form-element.form-element_width16-height12
          span.form-element__state expanded
          .dropdown-facilities_active
            +dropdown-facilities('dropdown')
      .form-elements__column
        .form-element.form-element_width-20.form-element_margin-left
          .dropdown-guests_active
            +dropdown-guests('dropdown')
      .form-elements__column
        .form-element.form-element_width-20
          .dropdown-guests_active
            +dropdown-guests('dropdown')
    .form-elements__row.form-elements__row_margin-bottom-300
      .form-elements__column
        .form-element.form-element_width-16.form-element_margin-bottom-170
          - const expandableCheckboxListSettings_1 = {'Завтрак': false, 'Письменный стол': false, 'Стул для кормления': false, 'Кроватка': false, 'Телевизор': false, 'Шампунь': false}
          +expandable-checkbox-list('expandable checkbox list', expandableCheckboxListSettings_1)
        .form-element.form-element_width-16
          .expandable-checkbox-list_active
            - const expandableCheckboxListSettings_2 = {'Завтрак': false, 'Письменный стол': true, 'Стул для кормления': true, 'Кроватка': true, 'Телевизор': false, 'Шампунь': false}
            +expandable-checkbox-list('expandable checkbox list', expandableCheckboxListSettings_2)(open)
      .form-elements__column.form-elements__column_margin-left
        .form-element.form-element_width-16
          - const richCheckboxButtonsSettings = [['Широкий коридор', 'Ширина коридоров в номере не менее 91 см.', false], ['Помощник для инвалидов', 'На 1 этаже вас встретит специалист и проводит до номера.', false]]
          +rich-checkbox-buttons('rich checkbox buttons', richCheckboxButtonsSettings)
      .form-elements__column.form-elements__column_margin-right
        .form-element.form-element_width-16
          h3.form-element__name bullet list
          +bullet-list('', ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'])
    .form-elements__row.form-elements__row_no-wrap
      .form-elements__column
        - const additionalRoomInfo = [['Комфорт', 'Шумопоглощающие стены', 'material-icons', 'insert_emoticon'], ['Удобство', 'Окно в каждой из спален', 'material-icons', 'location_city'], ['Уют', 'Номер оснащён камином', 'material-icons', 'whatshot']]
        +additional-room-info('', additionalRoomInfo)
      .form-elements__column.form-elements__column_no-width
        +reviews()        
