extends ../base/base-ui-kit_long-page.pug
include ../../components/text-field/text-field.pug
include ../../components/date-dropdowns/date-dropdowns.pug
include ../../components/filter-date-dropdown/filter-date-dropdown.pug

block main
  .form-elements
    .form-elements__row
      .form-elements__column
        .form-element_margin-bottom-1
          .form-element__description
            span.form-element__name text field
            span.form-element__state default
          +text-field('email', 'Email')
        .form-element_margin-bottom-1
          .form-element__description
            span.form-element__name text field
            span.form-element__state hover / focus
          .form-text-field_active
            +text-field('email', 'Email')(value='This is pretty awesome')
        .form-element_margin-bottom-1
          .form-element__description
            span.form-element__name dropdown
          include ../../components/dropdown-guests/dropdown-guests.pug
        .form-element_margin-bottom-2
          .form-element__description
            span.form-element__name masked text field
          +text-field('text', 'ДД.ММ.ГГГГ').masked-text-field
        .form-element_margin-bottom-2
          .form-element__description
            span.form-element__name date dropdown
          +date-dropdowns()
        .form-element_margin-bottom-2
          .form-element__description
            span.form-element__name filter date dropdown
          +filter-date-dropdown()
        .form-element_margin-bottom-2
          .form-element__description
            span.form-element__name subscription text field
          include ../../components/subscription-text-field/subscription-text-field.pug
      .form-elements__column
        .form-element_margin-bottom-2
          //- .form-element__description
          //-   span.form-element__name dropdown
          //- include ../../components/dropdown-facilities/dropdown-facilities.pug
        .form-element_margin-bottom-2
          .form-element__description
            span.form-element__name text field
            span.form-element__state default
          //- +date-dropdowns()
      .form-elements__column
        .form-element_margin-bottom-2
          |gggg
        .form-element_margin-bottom-2
          |gggg

    .form-elements__row
      .form-elements__column
        .form-element_margin-bottom-2
          .form-element__description
            span.form-element__name dropdown
          include ../../components/dropdown-facilities/dropdown-facilities.pug
    .form-elements__row
      |gggg
    .form-elements__row
      |gggg
