extends ../base/base-ui-kit_long-page.pug
include ../../components/text-field/text-field.pug

block main
  .form-elements
    .form-elements__row
      .form-elements__column
        .form-element_margin-bottom-1
          .form-element__description
            p.form-element__name Text Field
            p.form-element__state Default
          +text-field('email', 'Email')
        .form-element_margin-bottom-1
          .form-element__description
            p.form-element__name Text Field
            p.form-element__state Hover / Focus
          .text-field-form_active
            +text-field('email', 'Email')(value='This is pretty awesome')
        .form-element_margin-bottom-1
          |gggg
      .form-elements__column
        .form-element_margin-bottom-2
          |gggg
        .form-element_margin-bottom-2
          |gggg
      .form-elements__column
        .form-element_margin-bottom-2
          |gggg
        .form-element_margin-bottom-2
          |gggg

    .form-elements__row
      |gggg
    .form-elements__row
      |gggg
    .form-elements__row
      |gggg
