mixin dropdown-counter(value)
  .dropdown-counter(data-counter-value= value)
    button.dropdown-counter__button
      span.dropdown-counter__minus -
    span.dropdown-counter__value= value
    button.dropdown-counter__button
      span.dropdown-counter__plus +
