mixin dropdown-counter(value, minValue, maxValue)
  .dropdown-counter(data-counter-value= value, data-min-value= minValue, data-max-value= maxValue)
    button.dropdown-counter__button-minus
      span.dropdown-counter__minus -
    span.dropdown-counter__value= value
    button.dropdown-counter__button-plus
      span.dropdown-counter__plus +
